[submodule "themes/osuny"]
	path = themes/osuny
	url = https://github.com/osunyorg/theme.git
[submodule "themes/osuny-campus-art-mediterrannee-footer"]
	path = themes/osuny-campus-art-mediterrannee-footer
	url = git@github.com:osunyorg/osuny-campus-art-mediterrannee-footer.git
