footer#document-footer
    @include media-breakpoint-up(desktop)
        display: flex
        justify-content: space-between
        .container:nth-child(2)
            flex-direction: column
            text-align: right
            padding-top: 0

.campus-sub-footer
    background: var(--color-background-alt)

.toc
    li
        a.active
            text-decoration: underline