footer#document-footer
    @include media-breakpoint-up(desktop)
        .footer-legals
            display: flex
            flex-wrap: wrap
            gap: $spacing-3
            ul
                display: flex
                gap: $spacing-3
            li, > *
                margin: 0
    .campus-sub-footer
        background: var(--color-background-alt)
        align-items: start
        .footer__presentation
            ul
                margin-top: $spacing-3
                li
                    @include small
                    margin: 0 !important

.toc
    li
        a.active
            text-decoration: underline